body{
	font-family: 'Ubuntu', sans-serif;
	overflow-y: hidden; // hide vertical
	overflow-x: hidden; // hide horizontal
}

img {
	-webkit-filter: brightness(30%);
	filter:brightness(30%);
}

.word{
	position: absolute;
	top : 10%;
	left: 40%;
	color : #ffffff;
}

.title{
	font-size : 80px;
}

.meaning-sentence{
	margin : 35px;
	font-size : 30px;
	width: 720px;
}

.show-meaning{
	margin: 35px;
	background-color: #000000;
	border: none;
	color: #ffffff;
	padding:10px;
	border-radius: 10px;
	border: 1px solid #ffffff;
	float: left;
}

.icon{
	cursor: pointer;
	margin : 50px;
	font-size: 40px !important;
}

.dot{
	font-size: 40px;
	margin-left: 10px;
	margin-right: 10px;
}

.tools{
	color : #ffffff;
	position: absolute;
	top : 10%;
	left: 90%;
	opacity: 0.5;
}

.itallics{
	font-style: italic;
}