body{
	font-family: 'Ubuntu', sans-serif;
	overflow: hidden;
	overflow-y: hidden !important; // hide vertical
	overflow-x: hidden !important; // hide horizontal
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

img {
	-webkit-filter: brightness(30%);
	filter:brightness(30%);
}


.word{
	position: fixed;
	top : 10%;
	left: 13%;
	color : #ffffff;
}

.title{
	font-size : 80px;
}

.meaning-sentence{
	margin : 35px;
	font-size : 30px;
	width: 720px;
}

.show-meaning{
	background-color: #000000;
	border: none;
	color: #ffffff;
	padding:10px;
	border-radius: 10px;
	border: 2px solid #ffffff;
	float: left;
}

.icon{
	cursor: pointer;
	margin-left : 50px;
	font-size: 40px !important;
	/*opacity: 0.5;*/
}

.icon:hover{
	font-size: 60px !important;
}

.dot{
	font-size: 40px;
	margin-left: 10px;
	margin-right: 10px;
}

.tools{
	color : #ffffff;
	position: absolute;
	top : 10%;
	left: 90%;
	opacity: 0.5;
}

.itallics{
	font-style: italic;
}

.view-favorites{
	position :absolute;
	top : 5%;
	color: #ffffff;
	left : 85%;
	cursor: pointer;
	margin-left: 35px;
	font-size: 14px !important;
}

.view-settings{
	position :absolute;
	top : 25%;
	color: #ffffff;
	opacity: 0.5;
	left : 87%;
	cursor: pointer;
	font-size: 40px !important;
}

.reload{
	position :absolute;
	top : 15%;
	color: #ffffff;
	opacity: 0.5;
	left : 87%;
	cursor: pointer;
	font-size: 40px !important;
}

.favorite-words{
	position: fixed;
	top : 10%;
	left: 5%;
	color: #ffffff;
}

.settings{
	position: absolute;
	top : 20%;
	left: 40%;
	width : 500px;
	color: #ffffff;
	opacity: 0.8;
}

.each-word {
	cursor: pointer;
	float : left;
	margin : 15px;
	border : 2px solid #ffffff;
	border-radius: 8px;
	font-size: 44px !important;
	padding: 10px;
}

.slider {
	cursor: pointer;
}
.rangeslider__fill {
	background-color: #ffffff !important;
	color : #ffffff !important;
}